
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /referrals/{referralId} {
      allow read: if request.auth != null;
      allow write: if true; // Temporarily allow writes for submission, will secure later.
    }
  }
}
